.cae{
    
    background-image: url(../images/abd.jpg);
    background-repeat: no-repeat;
    height: 100%;
}
.fgt{
    margin-right: 10%;
}
.fgh{
    margin-right: 10%;
}
span{
    background-color: green;
    color: white;
}