.ert{
    margin-top: 10%;
    color: beige;
    text-align: center;
}
.erw{
    color: aliceblue;
    border-radius: 20%;
    width: 100%;
}
.ety{
    margin-left: 20%;
    width: 58%;
}
.etp{
    margin-left: 25%;
    width: 44%;
}
.typ{
   
    padding-top: 10% ;
    background-image: url(https://wallpapercave.com/wp/wp1846066.jpg);
    height: 100vh;

}